<div class="row" ng-init="setIndexTab(indexTab);">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="portlet box blue" id="property_wizard">

                <div class="portlet-body form">

                    <div class="form-wizard">
                        <div class="form-body">
                            <div class="tab-content">
                                <div ui-view="propertyBasic"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
