<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">{{'Documents' | translate}}</span>
                </div>
                <div class="actions">
                    <a href="#/properties/view/documents/{{propertyDocumentsCtrl.property.id}}/"
                       class="btn default green">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">{{'New Document' | translate}} </span>
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <div documents-grid></div>
            </div>
        </div>
    </div>
</div>
