<div class="table-container">
    <table style="width:100% !important;" class="table table-bordered table-striped flip-content"
           id="tenants-dt">
        <thead>
        <tr role="row" class="heading">
            <th width="0%"></th>
            <th width="2%">{{'No.#' | translate}}</th>
            <th width="12%">{{'Name' | translate}}</th>
            <th width="12%">{{'Unit' | translate}}</th>
            <th width="12%">{{'Collection day' | translate}}</th>
            <th width="12%">{{'Start Date' | translate}}</th>
            <th width="12%">{{'End Date' | translate}}</th>
            <th width="20%">{{'Actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>