<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-pencil font-green-sharp"></i>
            <span class="caption-subject bold uppercase">{{ 'Create a new task' | translate }}</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-xs red" href="#/planning"><i class="fa fa-times"></i> {{ 'Close' | translate }}</a>
        </div>
    </div>
    <div class="portlet-body">

    </div>
</div>